body .cuba {
  width: 400px;
  height: 70px;
  position: relative;
  background: linear-gradient(to bottom, blue 0%, blue 20%, white 21%, white 40%, blue 41%, blue 60%, white 61%, white 80%, blue 81%, blue 100%);
}
body .cuba:hover::before {
  border-left-color: lime;
}
body .cuba::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 35px solid transparent;
  border-left-color: red;
  border-left-width: 60.62177826px;
  position: absolute;
  top: 0px;
  left: 0px;
}
body .cuba::before:hover {
  border-left-color: lime;
}
body .cuba::after {
  content: "★";
  color: white;
  font-size: 23.33333333px;
  line-height: 70px;
  position: absolute;
  height: 70px;
  top: 0px;
  left: 14px;
}
